*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{
    height: 100vh;
    width: 100%;
    background-color: #2a2f4f;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    width: 100%;
    background-color: #f8f4ea;
    border-radius: 6px;
    max-width: 590px;
    padding: 30px;
}
header{
    font-size: 28px;
    font-weight: 600;
    color:#2a2f4f;
    text-align: center;
}
form{
    margin-top: 30px;
}
form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;

}
.field input, .field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
    color:#2a2f4f ;
}
.field button{
    background-color: #2a2f4f;
    color:#f8f4ea ;
    font-size: 25px;
}
.field input{
   
    padding: 0 15px;
    border: 1px solid #2a2f4f;
}
.fa-solid{
font-size: 18px;
color: #8b8b8b;
position: absolute;
top: 50%;
right: 10px;
transform: translateY(-50%);
cursor: pointer;
padding: 5px;

}

.form-link{
    text-align: center;
    margin-top: 10px;
}
.form-link span, .form-link a{
font-size: 14px;
font-weight: 400;
color:#2a2f4f ;

}
.form a{
    text-decoration: none;
    color:#2a2f4f ;
}
.form a:hover{
    text-decoration: underline;
}
.field img{
    width: 40px;
}